<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="css/styleadmin.css">
    <title>admin</title>
</head>
<body>
    <div class="container col-md-5 mt-5">
        <div class="p-3 mb-3 bg-info text-white ">
            <h2>BIODATA</h2>
        </div>   
    <br>
    <br>
    <div class="card-body">
        <form action="" method="POST" class="form-item">
        <form>
        <div class="form-group">
            <label for="nama"> NAMA </label>
            <input type="text" name="nama" class="form-control col-md-9" placeholder="Masukkan Nama">
        </div>
    
        <div class="form-group">
            <label for="tgl_lahir"> TANGGAL LAHIR </label>
            <input type="date" name="tgl_lahir" class="form-control col-md-9" placeholder="Masukkan Tgl Lahir">
        </div>
    
        <div class="form-group">
            <label for="alamat"> ALAMAT </label>
            <input type="text" name="alamat" class="form-control col-md-9" placeholder="Masukkan Alamat">
        </div>
    
        <div class="form-group">
            <label for="telp"> NO TELP </label>
            <input type="number" name="telp" class="form-control col-md-9" placeholder="Masukkan No Telp">
        </div>
    
        <div class="form-group">
            <label for="status"> STATUS </label>
            <input type="text" name="status" class="form-control col-md-9" placeholder="Masukkan Status">
        </div>
        <br>
        <br>
        <div class="container col-md-4">
            <button type="submit" class="btn btn-primary" name="simpan" onclick="tambah()">SIMPAN</button>
            <button type="reset" class="btn btn-danger">BATAL</button>
        </div>  
        </form>
</body>
</html>