<form action="/auth/game" method="post"></form>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="css/stylegames.css">
    <title>Games</title>
</head>
<body>
    <!-- Header -->
    <div id="container">
        <div class="games" id="back">
         <a href="/home"><img src="/assets/back.png" alt=""></a>
        </div>
        <div class="games" id="logo">
        </div>
        <div class="games" id="name">
          <h2>ROCK PAPER SCISSORS</h2>
        </div>
    <!-- Main Content -->
    <div id="player">
        <h3>player 1</h3>
        <div class="option" onclick="batu()" id="batu">
            <img src="/assets/batu.png" alt="">
        </div>
        <div class= "option" onclick="kertas()" id="kertas">
            <img src="/assets/kertas.png" alt="">
        </div>
        <div class="option" onclick="gunting()" id="gunting">
            <img src="/assets/gunting.png" alt="">
        </div>
    </div>
    </div>
    <div class="hasil">
        <div class="col-4 d-flex versus"> 
        <div class="replace d-flex">vs</div>
        </div>
    </div>
    <div id="com">
        <h3>com</h3>
        <div class="random"  id="batu2">
            <img src="/assets/batu.png" alt="">
        </div>
        <div class="random" id="kertas2">
            <img src="/assets/kertas.png" alt="">
        </div>  
        <div class="random" id="gunting2">
            <img src="/assets/gunting.png" alt="">
        </div>
        </div>
    <div class="refresh">
        <div class="col-md-6 offset-md-3">
        <a href="/game">
        <img src="/assets/refresh.png" alt="" class="refresh-img">
    </a>
    </div>
    </div>
      </div>
    </div>



   <script src="/javascript/script.js"></script>
</body>
</html>