<form action="/auth/register" method="post"></form>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
    crossorigin="anonymous">
    <title>Register</title>
    <link rel="stylesheet" href="/css/styleregister.css">
</head>
<body>
  <div class="container">
    <form action="/login" method="post" onsubmit="register()">
      <div class="row g-4 register">
            <h1>register</h1>
        <div class="form">
          <div class="col-md-6">
            <label for="email">Email</label><br>
            <input type="email" name="email" id="email" placeholder="email"><br><br>
        </div>
        <div class="col-12">
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password" placeholder="password"><br>
        </div>
        </div>
        <div class="col-md-4">
            <input type="checkbox" id="check">
            <label for="Check" id="label">
                Setuju Mendaftar
            </label>
        </div>
        <div class="col-12 daftar">
            <a href="/login"><button type="submit" class="btn btn-primary">Daftar</button></a>
        </div>
       </div>
     </form>
    </div>
    <script src="/javascript/register.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" 
    crossorigin="anonymous"></script>
</body>
</html>