body {
    font-family: sans-serif;
    display: flex;
    background: url('/images/puzzle.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.form {
    text-align: left;
}

.login {
    width: 27%;
    height: 120%;
    margin: auto;
    margin-top: 40px;
    border-radius: 25px;
    background-color: rgba(15, 194, 179, 0.738);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

.login h1 {
    color: white;
    font-size: 45px;
    margin-bottom: 80px;
    text-transform: uppercase;
    text-align: center;
}


.form input, button, label{
    width: 320px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 20px;
    color: black;
    margin-bottom: 5px;
    text-align: start;
    font-family: Arial;
    border-radius: 7px;
}

.form label{
    color: white;
}

.masuk {
    padding-top: 10px;
}




